Repository kubernetes-sigs/kubebuilder, pull requests merged in 2020-09, with the labels that each got.

#1658 fix title: lost "needs"
  docs/book/src/cronjob-tutorial/empty-main.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1579 Cherry-pick envtest example
  docs/book/src/SUMMARY.md
  docs/book/src/cronjob-tutorial/epilogue.md
  docs/book/src/cronjob-tutorial/testdata/project/controllers/cronjob_controller_test.go
  docs/book/src/cronjob-tutorial/testdata/project/controllers/suite_test.go
  docs/book/src/cronjob-tutorial/testdata/project/go.mod
  docs/book/src/cronjob-tutorial/testdata/project/go.sum
  docs/book/src/cronjob-tutorial/writing-tests.md
  docs/book/src/reference/envtest.md
  docs/book/src/reference/writing-tests.md
  testdata/project-v2-addon/config/crd/bases/crew.testproject.org_admirals.yaml
  testdata/project-v2-addon/config/crd/bases/crew.testproject.org_captains.yaml
  testdata/project-v2-addon/config/crd/bases/crew.testproject.org_firstmates.yaml
  testdata/project-v2-addon/go.mod
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1661 docs: added a full stop for better readbility
  docs/book/src/cronjob-tutorial/testdata/emptymain.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1649 dev(dx): lint improvements (use github actions to call it)
  .github/workflows/golangci-lint.yml
  .travis.yml
  CONTRIBUTING.md
  Makefile
  scripts/verify.sh
Labels: approved, cncf-cla: yes, lgtm, size/M

#1662 doc: update reference with name of page
  docs/book/src/cronjob-tutorial/testdata/project/api/v1/cronjob_webhook.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1670 doc: correct minor grammar mistakes
  DESIGN.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1669 :seedling: removing lint check from travis
  .travis.yml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1668 :book: add PR Process in Contribution.MD guide
  CONTRIBUTING.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1635 :sparkles: specify nonroot uid for manager (v3+ only)
  pkg/plugin/v3/scaffolds/internal/templates/config/manager/config.go
  pkg/plugin/v3/scaffolds/internal/templates/dockerfile.go
  testdata/project-v3-addon/Dockerfile
  testdata/project-v3-addon/config/manager/manager.yaml
  testdata/project-v3-multigroup/Dockerfile
  testdata/project-v3-multigroup/config/manager/manager.yaml
  testdata/project-v3/Dockerfile
  testdata/project-v3/config/manager/manager.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#1673 :bug: Fix CRD Path for Multigroup
  pkg/plugin/v2/scaffolds/internal/templates/controller/controller_suitetest.go
  pkg/plugin/v3/scaffolds/internal/templates/config/controller/controller_suitetest.go
  testdata/project-v2-addon/controllers/suite_test.go
  testdata/project-v2-multigroup/controllers/crew/suite_test.go
  testdata/project-v2-multigroup/controllers/foo.policy/suite_test.go
  testdata/project-v2-multigroup/controllers/sea-creatures/suite_test.go
  testdata/project-v2-multigroup/controllers/ship/suite_test.go
  testdata/project-v2/controllers/suite_test.go
  testdata/project-v3-addon/controllers/suite_test.go
  testdata/project-v3-multigroup/controllers/crew/suite_test.go
  testdata/project-v3-multigroup/controllers/foo.policy/suite_test.go
  testdata/project-v3-multigroup/controllers/sea-creatures/suite_test.go
  testdata/project-v3-multigroup/controllers/ship/suite_test.go
  testdata/project-v3/controllers/suite_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#1683 :seeding: rename generate_mutiversion.sh to generate_multiversion.sh
  .gitignore
  docs/book/src/multiversion-tutorial/testdata/generate_multiversion.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1682 :bug: fix: the CRD paths is only ../.. when is multigroup
  pkg/plugin/v2/scaffolds/internal/templates/controller/controller_suitetest.go
  pkg/plugin/v3/scaffolds/internal/templates/config/controller/controller_suitetest.go
  testdata/project-v2-addon/controllers/suite_test.go
  testdata/project-v2/controllers/suite_test.go
  testdata/project-v3-addon/controllers/suite_test.go
  testdata/project-v3/controllers/suite_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1677 📖 update succeeded to Complete
  docs/book/src/cronjob-tutorial/testdata/project/controllers/cronjob_controller.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1688 :sparkles: Added the changes for include finalizer as a default controller markers
  pkg/plugin/v3/scaffolds/internal/templates/config/controller/controller.go
  testdata/project-v3-multigroup/config/rbac/role.yaml
  testdata/project-v3-multigroup/controllers/crew/captain_controller.go
  testdata/project-v3-multigroup/controllers/foo.policy/healthcheckpolicy_controller.go
  testdata/project-v3-multigroup/controllers/sea-creatures/kraken_controller.go
  testdata/project-v3-multigroup/controllers/sea-creatures/leviathan_controller.go
  testdata/project-v3-multigroup/controllers/ship/cruiser_controller.go
  testdata/project-v3-multigroup/controllers/ship/destroyer_controller.go
  testdata/project-v3-multigroup/controllers/ship/frigate_controller.go
  testdata/project-v3/config/rbac/role.yaml
  testdata/project-v3/controllers/admiral_controller.go
  testdata/project-v3/controllers/captain_controller.go
  testdata/project-v3/controllers/firstmate_controller.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1679 :sparkles: Added support for empty group in kubebuilder api creation with v3+ #1404
  generate_testdata.sh
  pkg/model/resource/options.go
  pkg/model/resource/options_test.go
  pkg/model/resource/resource_test.go
  pkg/plugin/v2/api.go
  pkg/plugin/v3/api.go
  pkg/plugin/v3/scaffolds/internal/templates/config/api/group.go
  pkg/plugin/v3/scaffolds/internal/templates/config/api/types.go
  pkg/plugin/v3/scaffolds/internal/templates/config/api/webhook.go
  pkg/plugin/v3/scaffolds/internal/templates/config/controller/controller.go
  pkg/plugin/v3/scaffolds/internal/templates/config/controller/controller_suitetest.go
  pkg/plugin/v3/scaffolds/internal/templates/main.go
  testdata/project-v3-multigroup/PROJECT
  testdata/project-v3-multigroup/apis/v1/groupversion_info.go
  testdata/project-v3-multigroup/apis/v1/lakers_types.go
  testdata/project-v3-multigroup/apis/v1/lakers_webhook.go
  testdata/project-v3-multigroup/apis/v1/zz_generated.deepcopy.go
  testdata/project-v3-multigroup/config/crd/bases/testproject.org_lakers.yaml
  testdata/project-v3-multigroup/config/crd/kustomization.yaml
  testdata/project-v3-multigroup/config/crd/patches/cainjection_in_lakers.yaml
  testdata/project-v3-multigroup/config/crd/patches/webhook_in_lakers.yaml
  testdata/project-v3-multigroup/config/rbac/lakers_editor_role.yaml
  testdata/project-v3-multigroup/config/rbac/lakers_viewer_role.yaml
  testdata/project-v3-multigroup/config/rbac/role.yaml
  testdata/project-v3-multigroup/config/samples/_v1_lakers.yaml
  testdata/project-v3-multigroup/config/webhook/manifests.yaml
  testdata/project-v3-multigroup/controllers/lakers_controller.go
  testdata/project-v3-multigroup/controllers/suite_test.go
  testdata/project-v3-multigroup/main.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL

#1698 Update flect from v0.2.1 to v0.2.2
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS
