Repository kubernetes-sigs/kubebuilder, pull requests merged in 2021-10, with the labels that each got.

#2358 :book: Fix Tutorial Section 1.2 Missing Colon
  docs/book/src/cronjob-tutorial/testdata/emptymain.go
Labels: cncf-cla: yes, size/XS, lgtm, needs-ok-to-test, approved

#2356 :bug: Fix e2e tests that timeout when run locally
  test/e2e/local.sh
  test/e2e/setup.sh
Labels: cncf-cla: yes, size/XS, lgtm, approved

#2359 :book: Fix Tutorial Section 1.2 Missing Colon (2/2)
  docs/book/src/cronjob-tutorial/testdata/emptymain.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#2350 ✨Include base.go.kubebuilder.io/v3 plugin in CLI
  cmd/main.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#2343 🐛 Improve scaffolding to filter existing multiline code fragments
  pkg/machinery/scaffold.go
  pkg/machinery/scaffold_test.go
  testdata/project-v2-addon/controllers/suite_test.go
  testdata/project-v2/controllers/suite_test.go
  testdata/project-v3-addon/controllers/suite_test.go
  testdata/project-v3-config/controllers/suite_test.go
  testdata/project-v3-config/main.go
  testdata/project-v3-v1beta1/api/v1/webhook_suite_test.go
  testdata/project-v3/api/v1/webhook_suite_test.go
  testdata/project-v3/controllers/suite_test.go
  testdata/project-v3/main.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2000 📖Add page in book for how to watch objects referenced in the CRD.
  docs/book/src/SUMMARY.md
  docs/book/src/reference/reference.md
  docs/book/src/reference/watching-resources.md
  docs/book/src/reference/watching-resources/externally-managed.md
  docs/book/src/reference/watching-resources/operator-managed.md
  docs/book/src/reference/watching-resources/testdata/external-indexed-field/api.go
  docs/book/src/reference/watching-resources/testdata/external-indexed-field/controller.go
  docs/book/src/reference/watching-resources/testdata/owned-resource/api.go
  docs/book/src/reference/watching-resources/testdata/owned-resource/controller.go
Labels: cncf-cla: yes, size/XL, lgtm, approved, ok-to-test

#2364 :seedling: add camilamacedo86 as admin
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, approved

#2367 :book:Update the example to enable webhook and cert manager
  docs/book/src/cronjob-tutorial/running-webhook.md
  docs/book/src/cronjob-tutorial/testdata/project/config/crd/kustomization.yaml
  docs/book/src/cronjob-tutorial/testdata/project/config/default/kustomization.yaml
Labels: cncf-cla: yes, size/S, lgtm, approved, ok-to-test

#2341 ✨ Add flag for ignore-not-found to make undeploy
  docs/book/src/cronjob-tutorial/testdata/project/api/v1/zz_generated.deepcopy.go
  pkg/plugins/golang/v2/scaffolds/internal/templates/makefile.go
  pkg/plugins/golang/v3/scaffolds/internal/templates/makefile.go
  testdata/project-v2-addon/Makefile
  testdata/project-v2-addon/api/v1/zz_generated.deepcopy.go
  testdata/project-v2-multigroup/Makefile
  testdata/project-v2-multigroup/apis/crew/v1/zz_generated.deepcopy.go
  testdata/project-v2-multigroup/apis/foo.policy/v1/zz_generated.deepcopy.go
  testdata/project-v2-multigroup/apis/sea-creatures/v1beta1/zz_generated.deepcopy.go
  testdata/project-v2-multigroup/apis/sea-creatures/v1beta2/zz_generated.deepcopy.go
  testdata/project-v2-multigroup/apis/ship/v1/zz_generated.deepcopy.go
  testdata/project-v2-multigroup/apis/ship/v1beta1/zz_generated.deepcopy.go
  testdata/project-v2-multigroup/apis/ship/v2alpha1/zz_generated.deepcopy.go
  testdata/project-v2/Makefile
  testdata/project-v2/api/v1/zz_generated.deepcopy.go
  testdata/project-v3-addon/Makefile
  testdata/project-v3-addon/api/v1/zz_generated.deepcopy.go
  testdata/project-v3-config/Makefile
  testdata/project-v3-config/api/v1/zz_generated.deepcopy.go
  testdata/project-v3-multigroup/Makefile
  testdata/project-v3-multigroup/apis/crew/v1/zz_generated.deepcopy.go
  testdata/project-v3-multigroup/apis/foo.policy/v1/zz_generated.deepcopy.go
  testdata/project-v3-multigroup/apis/sea-creatures/v1beta1/zz_generated.deepcopy.go
  testdata/project-v3-multigroup/apis/sea-creatures/v1beta2/zz_generated.deepcopy.go
  testdata/project-v3-multigroup/apis/ship/v1/zz_generated.deepcopy.go
  testdata/project-v3-multigroup/apis/ship/v1beta1/zz_generated.deepcopy.go
  testdata/project-v3-multigroup/apis/ship/v2alpha1/zz_generated.deepcopy.go
  testdata/project-v3-multigroup/apis/v1/zz_generated.deepcopy.go
  testdata/project-v3-v1beta1/Makefile
  testdata/project-v3-v1beta1/api/v1/zz_generated.deepcopy.go
  testdata/project-v3/Makefile
  testdata/project-v3/api/v1/zz_generated.deepcopy.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2365 :sparkles: Add todo(user) to make clear the need to optimize the values of the manager resources according to the needs
  pkg/plugins/common/kustomize/v1/scaffolds/internal/templates/config/manager/config.go
  testdata/project-v3-addon/config/manager/manager.yaml
  testdata/project-v3-config/config/manager/manager.yaml
  testdata/project-v3-multigroup/config/manager/manager.yaml
  testdata/project-v3-v1beta1/config/manager/manager.yaml
  testdata/project-v3/config/manager/manager.yaml
Labels: cncf-cla: yes, size/S, lgtm, approved, ok-to-test
