Repository kubernetes-sigs/kubebuilder, pull requests merged in 2022-11, with the labels that each got.

#3008 📖 docs: supplement plugin creation
  docs/book/src/plugins/creating-plugins.md
Labels: cncf-cla: yes, size/L, lgtm, approved

#3073 🐛 fix a minor typo in Makefile
  docs/book/src/component-config-tutorial/testdata/project/Makefile
  docs/book/src/cronjob-tutorial/testdata/project/Makefile
  docs/book/src/multiversion-tutorial/testdata/project/Makefile
  pkg/plugins/golang/v3/scaffolds/internal/templates/makefile.go
  testdata/project-v3-addon-and-grafana/Makefile
  testdata/project-v3-config/Makefile
  testdata/project-v3-multigroup/Makefile
  testdata/project-v3-with-deploy-image/Makefile
  testdata/project-v3/Makefile
  testdata/project-v4-addon-and-grafana/Makefile
  testdata/project-v4-config/Makefile
  testdata/project-v4-multigroup/Makefile
  testdata/project-v4-with-deploy-image/Makefile
  testdata/project-v4/Makefile
Labels: cncf-cla: yes, size/S, lgtm, needs-ok-to-test, approved

#3077 :sparkles: add version check for makefile template tools
  pkg/plugins/golang/v3/scaffolds/internal/templates/makefile.go
  testdata/project-v3-addon-and-grafana/Makefile
  testdata/project-v3-config/Makefile
  testdata/project-v3-multigroup/Makefile
  testdata/project-v3-with-deploy-image/Makefile
  testdata/project-v3/Makefile
  testdata/project-v4-addon-and-grafana/Makefile
  testdata/project-v4-config/Makefile
  testdata/project-v4-multigroup/Makefile
  testdata/project-v4-with-deploy-image/Makefile
  testdata/project-v4/Makefile
Labels: cncf-cla: yes, size/L, lgtm, approved, tide/merge-method-squash, ok-to-test

#3079 :bug: fix unexpected end of file error in makefiles
  pkg/plugins/golang/v3/scaffolds/internal/templates/makefile.go
  testdata/project-v3-addon-and-grafana/Makefile
  testdata/project-v3-config/Makefile
  testdata/project-v3-multigroup/Makefile
  testdata/project-v3-with-deploy-image/Makefile
  testdata/project-v3/Makefile
  testdata/project-v4-addon-and-grafana/Makefile
  testdata/project-v4-config/Makefile
  testdata/project-v4-multigroup/Makefile
  testdata/project-v4-with-deploy-image/Makefile
  testdata/project-v4/Makefile
Labels: cncf-cla: yes, size/M, lgtm, approved, ok-to-test

#3032 :sparkles: Add go/v4-alpha base and migration guide from go/v3 to go/v4-alpha
  cmd/main.go
  docs/book/src/SUMMARY.md
  docs/book/src/migration/legacy.md
  docs/book/src/migration/legacy/manually_migration_guide_v2_v3.md
  docs/book/src/migration/legacy/migration_guide_v2tov3.md
  docs/book/src/migration/legacy/v1vsv2.md
  docs/book/src/migration/legacy/v2vsv3.md
  docs/book/src/migration/manually_migration_guide_gov3_to_gov4.md
  docs/book/src/migration/migration_guide_gov3_to_gov4.md
  docs/book/src/migration/multi-group.md
  docs/book/src/migration/v3-plugins.md
  docs/book/src/migration/v3vsv4.md
  docs/book/src/plugins/available-plugins.md
  docs/book/src/plugins/go-v2-plugin.md
  docs/book/src/plugins/go-v4-plugin.md
  docs/book/src/plugins/to-be-extended.md
  pkg/plugins/golang/v4/api.go
  pkg/plugins/golang/v4/edit.go
  pkg/plugins/golang/v4/init.go
  pkg/plugins/golang/v4/plugin.go
  pkg/plugins/golang/v4/scaffolds/api.go
  pkg/plugins/golang/v4/scaffolds/doc.go
  pkg/plugins/golang/v4/scaffolds/edit.go
  pkg/plugins/golang/v4/scaffolds/init.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/api/group.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/api/types.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/api/webhook.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/api/webhook_suitetest.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/controllers/controller.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/controllers/controller_suitetest.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/dockerfile.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/dockerignore.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/gitignore.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/gomod.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/hack/boilerplate.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/main.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/makefile.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/readme.go
  pkg/plugins/golang/v4/scaffolds/webhook.go
  pkg/plugins/golang/v4/webhook.go
  testdata/project-v4-config/api/v1/webhook_suite_test.go
  testdata/project-v4-multigroup/apis/crew/v1/webhook_suite_test.go
  testdata/project-v4-multigroup/apis/ship/v1/webhook_suite_test.go
  testdata/project-v4-multigroup/apis/ship/v2alpha1/webhook_suite_test.go
  testdata/project-v4-multigroup/apis/v1/webhook_suite_test.go
  testdata/project-v4-with-deploy-image/api/v1alpha1/webhook_suite_test.go
  testdata/project-v4/api/v1/webhook_suite_test.go
Labels: cncf-cla: yes, size/XXL, lgtm, approved

#3095 :seedling: Bump kube-rbac-proxy from v0.13.0 to v0.13.1
  build/cloudbuild_kube-rbac-proxy.yaml
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#3085 ✨ (go/v3,go/v4-alpha): Upgrade controller-runtime version from 1.13.0 to 1.13.1
  pkg/plugins/golang/v3/scaffolds/init.go
  pkg/plugins/golang/v4/scaffolds/init.go
  testdata/project-v3-addon-and-grafana/go.mod
  testdata/project-v3-config/controllers/admiral_controller.go
  testdata/project-v3-config/controllers/captain_controller.go
  testdata/project-v3-config/controllers/firstmate_controller.go
  testdata/project-v3-config/controllers/laker_controller.go
  testdata/project-v3-config/go.mod
  testdata/project-v3-multigroup/controllers/apps/deployment_controller.go
  testdata/project-v3-multigroup/controllers/crew/captain_controller.go
  testdata/project-v3-multigroup/controllers/fiz/bar_controller.go
  testdata/project-v3-multigroup/controllers/foo.policy/healthcheckpolicy_controller.go
  testdata/project-v3-multigroup/controllers/foo/bar_controller.go
  testdata/project-v3-multigroup/controllers/lakers_controller.go
  testdata/project-v3-multigroup/controllers/sea-creatures/kraken_controller.go
  testdata/project-v3-multigroup/controllers/sea-creatures/leviathan_controller.go
  testdata/project-v3-multigroup/controllers/ship/cruiser_controller.go
  testdata/project-v3-multigroup/controllers/ship/destroyer_controller.go
  testdata/project-v3-multigroup/controllers/ship/frigate_controller.go
  testdata/project-v3-multigroup/go.mod
  testdata/project-v3-with-deploy-image/controllers/busybox_controller.go
  testdata/project-v3-with-deploy-image/controllers/memcached_controller.go
  testdata/project-v3-with-deploy-image/go.mod
  testdata/project-v3/controllers/admiral_controller.go
  testdata/project-v3/controllers/captain_controller.go
  testdata/project-v3/controllers/firstmate_controller.go
  testdata/project-v3/controllers/laker_controller.go
  testdata/project-v3/go.mod
  testdata/project-v4-addon-and-grafana/go.mod
  testdata/project-v4-config/controllers/admiral_controller.go
  testdata/project-v4-config/controllers/captain_controller.go
  testdata/project-v4-config/controllers/firstmate_controller.go
  testdata/project-v4-config/controllers/laker_controller.go
  testdata/project-v4-config/go.mod
  testdata/project-v4-multigroup/controllers/apps/deployment_controller.go
  testdata/project-v4-multigroup/controllers/crew/captain_controller.go
  testdata/project-v4-multigroup/controllers/fiz/bar_controller.go
  testdata/project-v4-multigroup/controllers/foo.policy/healthcheckpolicy_controller.go
  testdata/project-v4-multigroup/controllers/foo/bar_controller.go
  testdata/project-v4-multigroup/controllers/lakers_controller.go
  testdata/project-v4-multigroup/controllers/sea-creatures/kraken_controller.go
  testdata/project-v4-multigroup/controllers/sea-creatures/leviathan_controller.go
  testdata/project-v4-multigroup/controllers/ship/cruiser_controller.go
  testdata/project-v4-multigroup/controllers/ship/destroyer_controller.go
  testdata/project-v4-multigroup/controllers/ship/frigate_controller.go
  testdata/project-v4-multigroup/go.mod
  testdata/project-v4-with-deploy-image/controllers/busybox_controller.go
  testdata/project-v4-with-deploy-image/controllers/memcached_controller.go
  testdata/project-v4-with-deploy-image/go.mod
  testdata/project-v4/controllers/admiral_controller.go
  testdata/project-v4/controllers/captain_controller.go
  testdata/project-v4/controllers/firstmate_controller.go
  testdata/project-v4/controllers/laker_controller.go
  testdata/project-v4/go.mod
Labels: cncf-cla: yes, size/L, lgtm, approved

#3096 📖 : suggest specify plugin for pr
  CONTRIBUTING.md
Labels: cncf-cla: yes, size/XS, lgtm, approved

#3098 📖 docs: fix typo in the component config tutorial
  docs/book/src/component-config-tutorial/testdata/project/api/v2/projectconfig_types.go
  docs/book/src/component-config-tutorial/testdata/projectconfig_types.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#3084 ✨ feat : add kustomize file for crd sample
  docs/book/src/migration/manually_migration_guide_gov3_to_gov4.md
  docs/book/src/migration/v3vsv4.md
  pkg/plugins/common/kustomize/v2-alpha/scaffolds/api.go
  pkg/plugins/common/kustomize/v2-alpha/scaffolds/internal/templates/config/samples/kustomization.go
  testdata/project-v4-config/config/samples/kustomization.yaml
  testdata/project-v4-declarative-v1/config/samples/kustomization.yaml
  testdata/project-v4-multigroup/config/samples/kustomization.yaml
  testdata/project-v4/config/samples/kustomization.yaml
Labels: cncf-cla: yes, size/L, lgtm, approved

#3099 ✨ Upgrade gcr.io/kubebuilder/kube-rbac-proxy from 0.13.0 to 0.13.1 to address CVE
  docs/book/src/component-config-tutorial/testdata/project/config/default/manager_auth_proxy_patch.yaml
  docs/book/src/cronjob-tutorial/testdata/project/config/default/manager_auth_proxy_patch.yaml
  docs/book/src/multiversion-tutorial/testdata/project/config/default/manager_auth_proxy_patch.yaml
  pkg/plugins/common/kustomize/v1/scaffolds/internal/templates/config/kdefault/manager_auth_proxy_patch.go
  pkg/plugins/common/kustomize/v2-alpha/scaffolds/internal/templates/config/kdefault/manager_auth_proxy_patch.go
  pkg/plugins/golang/v2/scaffolds/internal/templates/config/kdefault/manager_auth_proxy_patch.go
  testdata/project-v2/config/default/manager_auth_proxy_patch.yaml
  testdata/project-v3-config/config/default/manager_auth_proxy_patch.yaml
  testdata/project-v3-declarative-v1/config/default/manager_auth_proxy_patch.yaml
  testdata/project-v3-multigroup/config/default/manager_auth_proxy_patch.yaml
  testdata/project-v3-with-deploy-image/config/default/manager_auth_proxy_patch.yaml
  testdata/project-v3-with-metrics/config/default/manager_auth_proxy_patch.yaml
  testdata/project-v3/config/default/manager_auth_proxy_patch.yaml
  testdata/project-v4-config/config/default/manager_auth_proxy_patch.yaml
  testdata/project-v4-declarative-v1/config/default/manager_auth_proxy_patch.yaml
  testdata/project-v4-multigroup/config/default/manager_auth_proxy_patch.yaml
  testdata/project-v4-with-deploy-image/config/default/manager_auth_proxy_patch.yaml
  testdata/project-v4-with-metrics/config/default/manager_auth_proxy_patch.yaml
  testdata/project-v4/config/default/manager_auth_proxy_patch.yaml
Labels: cncf-cla: yes, size/M, lgtm, approved

#3101 📖 : Remove trailing space making yamllint fail on new project
  docs/book/src/component-config-tutorial/testdata/project/config/manager/manager.yaml
  docs/book/src/cronjob-tutorial/testdata/project/config/manager/manager.yaml
  docs/book/src/multiversion-tutorial/testdata/project/config/manager/manager.yaml
  docs/book/src/reference/platform.md
  pkg/plugins/common/kustomize/v1/scaffolds/internal/templates/config/manager/config.go
  pkg/plugins/common/kustomize/v2-alpha/scaffolds/internal/templates/config/manager/config.go
  testdata/project-v3-config/config/manager/manager.yaml
  testdata/project-v3-declarative-v1/config/manager/manager.yaml
  testdata/project-v3-multigroup/config/manager/manager.yaml
  testdata/project-v3-with-deploy-image/config/manager/manager.yaml
  testdata/project-v3-with-metrics/config/manager/manager.yaml
  testdata/project-v3/config/manager/manager.yaml
  testdata/project-v4-config/config/manager/manager.yaml
  testdata/project-v4-declarative-v1/config/manager/manager.yaml
  testdata/project-v4-multigroup/config/manager/manager.yaml
  testdata/project-v4-with-deploy-image/config/manager/manager.yaml
  testdata/project-v4-with-metrics/config/manager/manager.yaml
  testdata/project-v4/config/manager/manager.yaml
Labels: cncf-cla: yes, size/M, lgtm, approved

#3102 🐛 (kustomize/v2-alpha): use marker to track samples and do not create tracks for core types
  pkg/plugins/common/kustomize/v2-alpha/scaffolds/api.go
  pkg/plugins/common/kustomize/v2-alpha/scaffolds/internal/templates/config/samples/kustomization.go
  testdata/project-v4-config/config/samples/kustomization.yaml
  testdata/project-v4-declarative-v1/config/samples/kustomization.yaml
  testdata/project-v4-multigroup/config/samples/kustomization.yaml
  testdata/project-v4/config/samples/kustomization.yaml
Labels: cncf-cla: yes, size/L, lgtm, approved, release-blocker
