Repository kubernetes-sigs/kubebuilder, pull requests merged in 2022-02, with the labels that each got.

#2279 📖 Fix link for component-config-tutorial
  docs/book/src/component-config-tutorial/tutorial.md
Labels: cncf-cla: yes, size/XS, lgtm, approved

#2513 :book: Fix incomplete instruction for validating webhook
  docs/book/src/cronjob-tutorial/testdata/project/api/v1/cronjob_webhook.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#2507 ✨ : Generate Dockerfile from declarative plugin
  .github/workflows/apidiff.yml
  pkg/plugins/golang/declarative/v1/api.go
  pkg/plugins/golang/declarative/v1/init.go
  pkg/plugins/golang/declarative/v1/plugin.go
  pkg/plugins/golang/declarative/v1/scaffolds/api.go
  pkg/plugins/golang/declarative/v1/scaffolds/internal/templates/channel.go
  pkg/plugins/golang/declarative/v1/scaffolds/internal/templates/controller.go
  pkg/plugins/golang/declarative/v1/scaffolds/internal/templates/manifest.go
  pkg/plugins/golang/declarative/v1/scaffolds/internal/templates/types.go
  pkg/plugins/golang/v2/scaffolds/internal/templates/dockerfile.go
  testdata/project-v2-addon/Dockerfile
  testdata/project-v2-multigroup/Dockerfile
  testdata/project-v2/Dockerfile
  testdata/project-v3-addon/Dockerfile
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2516 :sparkles: [build] Add support for darwin/arm64 arch
  build/.goreleaser.yml
  build/cloudbuild_snapshot.yaml
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test
