Repository kubernetes-sigs/kubebuilder, pull requests merged in 2023-07, with the labels that each got.

#3461 🐛 Fix issue found to re-generate the scaffolds with the new alpha command and adding e2e tests
  pkg/rescaffold/migrate.go
  test/e2e/alphagenerate/e2e_suite_test.go
  test/e2e/alphagenerate/generate_test.go
  test/e2e/setup.sh
  test/e2e/utils/test_context.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#3487 ✨ Add multigroup flag in alpha generate subcommand
  pkg/rescaffold/migrate.go
  test/e2e/alphagenerate/generate_test.go
Labels: cncf-cla: yes, size/M, lgtm, approved, ok-to-test

#3490 📖 Updates extending kubebuilder docs to use NewBundleWithOptions
  docs/book/src/plugins/extending-cli.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#3497 ✨ Add Webhooks in alpha generate subcommand
  pkg/rescaffold/migrate.go
  test/e2e/alphagenerate/generate_test.go
Labels: cncf-cla: yes, size/M, lgtm, approved, ok-to-test

#3498 📖 : Update README.md - Community Meetings
  README.md
Labels: cncf-cla: yes, size/XS, lgtm, approved

#3365 :bug:(go/v4, deployImage): fix scaffold to allow run the tests directly. Currently, is only possible run via the makefile targets
  docs/book/src/cronjob-tutorial/testdata/project/api/v1/webhook_suite_test.go
  docs/book/src/cronjob-tutorial/testdata/project/internal/controller/suite_test.go
  hack/docs/internal/cronjob-tutorial/generate_cronjob.go
  pkg/plugins/golang/v4/scaffolds/api.go
  pkg/plugins/golang/v4/scaffolds/init.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/api/webhook_suitetest.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/controllers/controller_suitetest.go
  pkg/plugins/golang/v4/scaffolds/webhook.go
  testdata/project-v4-declarative-v1/internal/controller/suite_test.go
  testdata/project-v4-multigroup/api/crew/v1/webhook_suite_test.go
  testdata/project-v4-multigroup/api/ship/v1/webhook_suite_test.go
  testdata/project-v4-multigroup/api/ship/v2alpha1/webhook_suite_test.go
  testdata/project-v4-multigroup/api/v1/webhook_suite_test.go
  testdata/project-v4-multigroup/internal/controller/apps/suite_test.go
  testdata/project-v4-multigroup/internal/controller/crew/suite_test.go
  testdata/project-v4-multigroup/internal/controller/fiz/suite_test.go
  testdata/project-v4-multigroup/internal/controller/foo.policy/suite_test.go
  testdata/project-v4-multigroup/internal/controller/foo/suite_test.go
  testdata/project-v4-multigroup/internal/controller/sea-creatures/suite_test.go
  testdata/project-v4-multigroup/internal/controller/ship/suite_test.go
  testdata/project-v4-multigroup/internal/controller/suite_test.go
  testdata/project-v4-with-deploy-image/api/v1alpha1/webhook_suite_test.go
  testdata/project-v4-with-deploy-image/internal/controller/suite_test.go
  testdata/project-v4/api/v1/webhook_suite_test.go
  testdata/project-v4/internal/controller/suite_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved

#3407 🌱 Update security contacts
  SECURITY_CONTACTS
Labels: cncf-cla: yes, size/XS, lgtm, approved

#3503 ✨ Add Grafana Plugin migration in alpha generate subcommand -- Step 1
  go.mod
  go.sum
  pkg/rescaffold/migrate.go
  test/e2e/alphagenerate/generate_test.go
Labels: cncf-cla: yes, size/M, lgtm, approved, ok-to-test

#3504 📖 Fix typo in scaffold plugins docs
  docs/book/src/plugins/to-scaffold-project.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#3500 📖 Docs update quick-start.md use "kubectl -k apply"
  docs/book/src/quick-start.md
Labels: cncf-cla: yes, size/XS, lgtm, approved

#3510 📖 : apply kustomize dir with correct flags
  docs/book/src/component-config-tutorial/testdata/project/README.md
  docs/book/src/cronjob-tutorial/testdata/project/README.md
  pkg/plugins/golang/v3/scaffolds/internal/templates/readme.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/readme.go
  testdata/project-v3/README.md
  testdata/project-v4-declarative-v1/README.md
  testdata/project-v4-multigroup/.gitignore
  testdata/project-v4-multigroup/README.md
  testdata/project-v4-with-deploy-image/README.md
  testdata/project-v4-with-grafana/README.md
  testdata/project-v4/.gitignore
  testdata/project-v4/README.md
Labels: cncf-cla: yes, size/S, lgtm, approved

#3508 :seedling: Update destroy function
  test/e2e/utils/test_context.go
Labels: cncf-cla: yes, size/XS, lgtm, approved

#3509 ✨ Add Grafana Plugin migration in alpha generate subcommand -- Step 2
  go.mod
  go.sum
  pkg/rescaffold/migrate.go
  test/e2e/alphagenerate/generate_test.go
Labels: cncf-cla: yes, size/M, lgtm, approved, ok-to-test
