Repository kubernetes-sigs/kubebuilder, pull requests merged in 2023-05, with the labels that each got.

#3358 :sparkles: (go/v4) Upgrade image gcr.io/kubebuilder/kube-rbac-proxy from v0.13.1 to v0.14.1
  docs/book/src/component-config-tutorial/testdata/project/config/default/manager_auth_proxy_patch.yaml
  pkg/plugins/common/kustomize/v2/scaffolds/internal/templates/config/kdefault/manager_auth_proxy_patch.go
  testdata/project-v4-config/config/default/manager_auth_proxy_patch.yaml
  testdata/project-v4-declarative-v1/config/default/manager_auth_proxy_patch.yaml
  testdata/project-v4-multigroup/config/default/manager_auth_proxy_patch.yaml
  testdata/project-v4-with-deploy-image/config/default/manager_auth_proxy_patch.yaml
  testdata/project-v4-with-grafana/config/default/manager_auth_proxy_patch.yaml
  testdata/project-v4/config/default/manager_auth_proxy_patch.yaml
Labels: cncf-cla: yes, size/S, lgtm, approved

#3359 :bug: (go/v4) fix scaffold remove bintest dir from gitignore and dockerfile since this directory is not scaffolded
  docs/book/src/component-config-tutorial/testdata/project/.dockerignore
  docs/book/src/component-config-tutorial/testdata/project/.gitignore
  pkg/plugins/golang/v4/scaffolds/internal/templates/dockerignore.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/gitignore.go
  testdata/project-v4-config/.dockerignore
  testdata/project-v4-config/.gitignore
  testdata/project-v4-declarative-v1/.dockerignore
  testdata/project-v4-declarative-v1/.gitignore
  testdata/project-v4-multigroup/.dockerignore
  testdata/project-v4-multigroup/.gitignore
  testdata/project-v4-with-deploy-image/.dockerignore
  testdata/project-v4-with-deploy-image/.gitignore
  testdata/project-v4-with-grafana/.dockerignore
  testdata/project-v4-with-grafana/.gitignore
  testdata/project-v4/.dockerignore
  testdata/project-v4/.gitignore
Labels: cncf-cla: yes, size/M, lgtm, approved

#3363 :bug: (go/v4, deployimage): fix the name controllers test function
  pkg/plugins/golang/v4/scaffolds/internal/templates/controllers/controller_suitetest.go
  testdata/project-v4-config/internal/controller/suite_test.go
  testdata/project-v4-declarative-v1/internal/controller/suite_test.go
  testdata/project-v4-multigroup/internal/controller/apps/suite_test.go
  testdata/project-v4-multigroup/internal/controller/crew/suite_test.go
  testdata/project-v4-multigroup/internal/controller/fiz/suite_test.go
  testdata/project-v4-multigroup/internal/controller/foo.policy/suite_test.go
  testdata/project-v4-multigroup/internal/controller/foo/suite_test.go
  testdata/project-v4-multigroup/internal/controller/sea-creatures/suite_test.go
  testdata/project-v4-multigroup/internal/controller/ship/suite_test.go
  testdata/project-v4-multigroup/internal/controller/suite_test.go
  testdata/project-v4-with-deploy-image/internal/controller/suite_test.go
  testdata/project-v4/internal/controller/suite_test.go
Labels: cncf-cla: yes, size/S, lgtm, approved

#3366 :sparkles: (kustomize/v2,go/v4): Upgrade kustomize version from 5.0.0 to 5.0.1
  docs/book/src/component-config-tutorial/testdata/project/Makefile
  pkg/plugins/common/kustomize/v2/plugin.go
  testdata/project-v4-config/Makefile
  testdata/project-v4-declarative-v1/Makefile
  testdata/project-v4-multigroup/Makefile
  testdata/project-v4-with-deploy-image/Makefile
  testdata/project-v4-with-grafana/Makefile
  testdata/project-v4/Makefile
Labels: cncf-cla: yes, size/S, lgtm, approved

#3378 🐛 (go/v4): Scaffold when no boilerplate file
  pkg/plugins/golang/v4/scaffolds/api.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#3383 ✨Upgrade binaries used for controller tests (ENVTEST_K8S_VERSION) from k8s version 1.26.1 to 1.27.1
  build/.goreleaser.yml
  docs/book/src/component-config-tutorial/testdata/project/Makefile
  docs/book/src/cronjob-tutorial/testdata/project/Makefile
  docs/book/src/multiversion-tutorial/testdata/project/Makefile
  pkg/plugin/util/testdata/exampleFile.txt
  pkg/plugins/golang/v4/scaffolds/internal/templates/makefile.go
  test/common.sh
  testdata/project-v4-config/Makefile
  testdata/project-v4-declarative-v1/Makefile
  testdata/project-v4-multigroup/Makefile
  testdata/project-v4-with-deploy-image/Makefile
  testdata/project-v4-with-grafana/Makefile
  testdata/project-v4/Makefile
Labels: cncf-cla: yes, size/S, lgtm, approved, ok-to-test

#3371 :sparkles: (go/v4): Allows container tool to be configured in Makefile
  docs/book/src/component-config-tutorial/testdata/project/Makefile
  pkg/plugins/golang/v4/scaffolds/internal/templates/makefile.go
  testdata/project-v4-config/Makefile
  testdata/project-v4-declarative-v1/Makefile
  testdata/project-v4-multigroup/Makefile
  testdata/project-v4-with-deploy-image/Makefile
  testdata/project-v4-with-grafana/Makefile
  testdata/project-v4/Makefile
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#3388 ✨ (go/v4): Upgrade controller-tools from 0.11.3 to v0.12.0
  docs/book/install-and-build.sh
  docs/book/src/component-config-tutorial/testdata/project/Makefile
  docs/book/src/component-config-tutorial/testdata/project/config/crd/bases/config.tutorial.kubebuilder.io_projectconfigs.yaml
  docs/book/src/cronjob-tutorial/testdata/project/Makefile
  docs/book/src/cronjob-tutorial/testdata/project/config/crd/bases/batch.tutorial.kubebuilder.io_cronjobs.yaml
  docs/book/src/multiversion-tutorial/testdata/project/Makefile
  docs/book/src/multiversion-tutorial/testdata/project/config/crd/bases/batch.tutorial.kubebuilder.io_cronjobs.yaml
  pkg/plugins/golang/v4/scaffolds/init.go
  testdata/project-v4-config/Makefile
  testdata/project-v4-config/config/crd/bases/crew.testproject.org_admirals.yaml
  testdata/project-v4-config/config/crd/bases/crew.testproject.org_captains.yaml
  testdata/project-v4-config/config/crd/bases/crew.testproject.org_firstmates.yaml
  testdata/project-v4-config/config/rbac/role.yaml
  testdata/project-v4-config/config/webhook/manifests.yaml
  testdata/project-v4-declarative-v1/Makefile
  testdata/project-v4-declarative-v1/config/crd/bases/crew.testproject.org_admirals.yaml
  testdata/project-v4-declarative-v1/config/crd/bases/crew.testproject.org_captains.yaml
  testdata/project-v4-declarative-v1/config/crd/bases/crew.testproject.org_firstmates.yaml
  testdata/project-v4-declarative-v1/config/rbac/role.yaml
  testdata/project-v4-multigroup/Makefile
  testdata/project-v4-multigroup/config/crd/bases/crew.testproject.org_captains.yaml
  testdata/project-v4-multigroup/config/crd/bases/fiz.testproject.org_bars.yaml
  testdata/project-v4-multigroup/config/crd/bases/foo.policy.testproject.org_healthcheckpolicies.yaml
  testdata/project-v4-multigroup/config/crd/bases/foo.testproject.org_bars.yaml
  testdata/project-v4-multigroup/config/crd/bases/sea-creatures.testproject.org_krakens.yaml
  testdata/project-v4-multigroup/config/crd/bases/sea-creatures.testproject.org_leviathans.yaml
  testdata/project-v4-multigroup/config/crd/bases/ship.testproject.org_cruisers.yaml
  testdata/project-v4-multigroup/config/crd/bases/ship.testproject.org_destroyers.yaml
  testdata/project-v4-multigroup/config/crd/bases/ship.testproject.org_frigates.yaml
  testdata/project-v4-multigroup/config/crd/bases/testproject.org_lakers.yaml
  testdata/project-v4-multigroup/config/rbac/role.yaml
  testdata/project-v4-multigroup/config/webhook/manifests.yaml
  testdata/project-v4-with-deploy-image/Makefile
  testdata/project-v4-with-deploy-image/config/crd/bases/example.com.testproject.org_busyboxes.yaml
  testdata/project-v4-with-deploy-image/config/crd/bases/example.com.testproject.org_memcacheds.yaml
  testdata/project-v4-with-deploy-image/config/rbac/role.yaml
  testdata/project-v4-with-deploy-image/config/webhook/manifests.yaml
  testdata/project-v4-with-grafana/Makefile
  testdata/project-v4/Makefile
  testdata/project-v4/config/crd/bases/crew.testproject.org_admirales.yaml
  testdata/project-v4/config/crd/bases/crew.testproject.org_captains.yaml
  testdata/project-v4/config/crd/bases/crew.testproject.org_firstmates.yaml
  testdata/project-v4/config/rbac/role.yaml
  testdata/project-v4/config/webhook/manifests.yaml
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#3392 :book: update doc samples within the latest changes
  docs/book/src/cronjob-tutorial/testdata/project/.dockerignore
  docs/book/src/cronjob-tutorial/testdata/project/.gitignore
  docs/book/src/cronjob-tutorial/testdata/project/Dockerfile
  docs/book/src/cronjob-tutorial/testdata/project/Makefile
  docs/book/src/cronjob-tutorial/testdata/project/config/crd/bases/batch.tutorial.kubebuilder.io_cronjobs.yaml
  docs/book/src/cronjob-tutorial/testdata/project/config/default/manager_auth_proxy_patch.yaml
  docs/book/src/cronjob-tutorial/testdata/project/config/rbac/role.yaml
  docs/book/src/cronjob-tutorial/testdata/project/config/webhook/manifests.yaml
  docs/book/src/cronjob-tutorial/testdata/project/go.mod
  docs/book/src/cronjob-tutorial/testdata/project/internal/controller/suite_test.go
Labels: cncf-cla: yes, lgtm, approved

#3389 📖: Update go version in docs to v1.20
  CONTRIBUTING.md
  docs/book/src/quick-start.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#3391 🐛: (go/v4) Scaffold no header when lincense is type none
  pkg/plugins/golang/v4/scaffolds/init.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/hack/boilerplate.go
  pkg/plugins/golang/v4/scaffolds/internal/templates/makefile.go
Labels: cncf-cla: yes, size/M, lgtm, approved, ok-to-test

#3374 ✨ (kustomize/v2) Remove deprecated syntax usage by replacing patchesStrategicMerge with patches
  docs/book/src/component-config-tutorial/testdata/project/config/crd/kustomization.yaml
  docs/book/src/cronjob-tutorial/testdata/project/config/crd/kustomization.yaml
  pkg/plugins/common/kustomize/v2/scaffolds/internal/templates/config/crd/kustomization.go
  testdata/project-v4-config/config/crd/kustomization.yaml
  testdata/project-v4-declarative-v1/config/crd/kustomization.yaml
  testdata/project-v4-multigroup/config/crd/kustomization.yaml
  testdata/project-v4-with-deploy-image/config/crd/kustomization.yaml
  testdata/project-v4/config/crd/kustomization.yaml
Labels: cncf-cla: yes, size/S, lgtm, approved

#3398 ✨ Updated Makefile to support go install kustomize
  docs/book/src/component-config-tutorial/testdata/project/Makefile
  docs/book/src/cronjob-tutorial/testdata/project/Makefile
  docs/book/src/migration/migration_guide_gov3_to_gov4.md
  pkg/plugins/golang/v4/scaffolds/internal/templates/makefile.go
  testdata/project-v4-config/Makefile
  testdata/project-v4-declarative-v1/Makefile
  testdata/project-v4-multigroup/Makefile
  testdata/project-v4-with-deploy-image/Makefile
  testdata/project-v4-with-grafana/Makefile
  testdata/project-v4/Makefile
Labels: cncf-cla: yes, size/M, lgtm, approved, ok-to-test

#3410 :book: fix formatting in quick start
  docs/book/src/quick-start.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#3409 :book: update completion.md with fish shell instructions
  docs/book/src/reference/completion.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#3412 🌱 Update go version for external plugin sample
  .github/dependabot.yml
  docs/book/src/simple-external-plugin-tutorial/testdata/sampleexternalplugin/v1/go.mod
Labels: cncf-cla: yes, size/S, lgtm, approved, ok-to-test

#3416 📖 Added user prompt for multi version api doc
  docs/book/src/multiversion-tutorial/api-changes.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#3411 📖 Added link for cronjob tutorial
  docs/book/src/reference/webhook-for-core-types.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#3233 :seedling: Added the test-coverage for completion.go and version.go inside cli pkg
  pkg/cli/completion_test.go
  pkg/cli/version.go
  pkg/cli/version_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#3424 📖 Quote download URL in quickstart docs
  docs/book/src/quick-start.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#3427 📖 Fixed manager_webhook_patch not uncommented
  docs/book/src/cronjob-tutorial/testdata/project/config/default/kustomization.yaml
  hack/docs/internal/cronjob-tutorial/generate_cronjob.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#3430 ✨ (go/v4): Allows kubectl to be configured in Makefile
  docs/book/src/component-config-tutorial/testdata/project/Makefile
  docs/book/src/cronjob-tutorial/testdata/project/Makefile
  pkg/plugins/golang/v4/scaffolds/internal/templates/makefile.go
  testdata/project-v4-config/Makefile
  testdata/project-v4-declarative-v1/Makefile
  testdata/project-v4-multigroup/Makefile
  testdata/project-v4-with-deploy-image/Makefile
  testdata/project-v4-with-grafana/Makefile
  testdata/project-v4/Makefile
Labels: cncf-cla: yes, size/M, lgtm, approved, ok-to-test

#3403 📖 doc: Fix multigroup migration guide for v4
  docs/book/src/migration/multi-group.md
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test, tide/merge-method-rebase

#3419 🌱 Add e2e tests for sample external plugin
  test/e2e/ci.sh
  test/e2e/externalplugin/e2e_suite_test.go
  test/e2e/externalplugin/generate_test.go
  test/e2e/local.sh
  test/e2e/setup.sh
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test
